<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>A123</display-name>
    <servlet-name>A123</servlet-name>
    <servlet-class>controller.A123</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A123</servlet-name>
    <url-pattern>/A123</url-pattern>
  </servlet-mapping>
  <display-name>1649</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddTeamController</servlet-name>
    <servlet-class>controller.AddTeamController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyTeamController</servlet-name>
    <servlet-class>controller.MyTeamController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeamDetailController</servlet-name>
    <servlet-class>controller.TeamDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailBoxController</servlet-name>
    <servlet-class>controller.MailBoxController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllMatchController</servlet-name>
    <servlet-class>controller.AllMatchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReapplyController</servlet-name>
    <servlet-class>controller.ReapplyController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MatchApprovalController</servlet-name>
    <servlet-class>controller.MatchApprovalController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyMatchController</servlet-name>
    <servlet-class>controller.MyMatchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitMatchController</servlet-name>
    <servlet-class>controller.QuitMatchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUserInfo</servlet-name>
    <servlet-class>controller.FindUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MatchDetailController</servlet-name>
    <servlet-class>controller.MatchDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeStatusController</servlet-name>
    <servlet-class>controller.ChangeStatusController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveMemberController</servlet-name>
    <servlet-class>controller.RemoveMemberController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeMatchDetailController</servlet-name>
    <servlet-class>controller.ChangeMatchDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitTeamController</servlet-name>
    <servlet-class>controller.QuitTeamController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoinMatchController</servlet-name>
    <servlet-class>controller.JoinMatchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoinTeamController</servlet-name>
    <servlet-class>controller.JoinTeamController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MatchMemberApply</servlet-name>
    <servlet-class>controller.MatchMemberApply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeLifeController</servlet-name>
    <servlet-class>controller.ChangeLifeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddManagerController</servlet-name>
    <servlet-class>controller.AddManagerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMatchController</servlet-name>
    <servlet-class>controller.AddMatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeamController</servlet-name>
    <url-pattern>/addteam.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyTeamController</servlet-name>
    <url-pattern>/myteam.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamDetailController</servlet-name>
    <url-pattern>/teamdetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailBoxController</servlet-name>
    <url-pattern>/mailbox.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllMatchController</servlet-name>
    <url-pattern>/allmatch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReapplyController</servlet-name>
    <url-pattern>/reapply.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MatchApprovalController</servlet-name>
    <url-pattern>/matchapprovalshow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyMatchController</servlet-name>
    <url-pattern>/mymatch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitMatchController</servlet-name>
    <url-pattern>/quitmatch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserInfo</servlet-name>
    <url-pattern>/finduserinfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MatchDetailController</servlet-name>
    <url-pattern>/matchdetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStatusController</servlet-name>
    <url-pattern>/changestatus.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveMemberController</servlet-name>
    <url-pattern>/removeMember.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMatchDetailController</servlet-name>
    <url-pattern>/changematchdetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitTeamController</servlet-name>
    <url-pattern>/quitteam.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinMatchController</servlet-name>
    <url-pattern>/joinmatch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinTeamController</servlet-name>
    <url-pattern>/jointeam.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MatchMemberApply</servlet-name>
    <url-pattern>/matchmemberapply.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeLifeController</servlet-name>
    <url-pattern>/changelife.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddManagerController</servlet-name>
    <url-pattern>/addmanager.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMatchController</servlet-name>
    <url-pattern>/addmatch.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>